.bd{
    background-color: #f3f3f3;
}

.sec-head{
    background-color : #e0e0e0;
}

.p-head{
    font-weight: 600;
    color: #A81423;
    font-size: 36px;
}

.t-h{
    color: #A81423;
}

@media(max-width:767px){
    .p-head{
        font-weight: 400;
        font-size: 24px;
    }
}

@media(max-width:567px){
    .t-h{
        font-size: 12px;
    }
}

.sen{
    font-size: small; 
    font-weight: 400;
}

@media(min-width:767px){
    .sen{
        font-size: medium; 
        font-weight: 400;
    }
}

.s_node{
    font-size: large;
    font-weight: 500;
}

@media(max-width:576px) {
    .s_node{
        font-size: medium;
        font-weight: 500;
    }
}

.sen-h{
    font-size: x-large;
}

.sen-d{
    font-size: larger;
}

@media(max-width:768px){
    .table.dataTable>tbody>tr.child span.dtr-title {
        font-size: large;
    }

    .table.dataTable>tbody>tr.child span.dtr-data {
        font-size: medium;
    }

    .sen-h{
        font-size: larger;
    }
    .sen-d{
        font-size: large;
    }

}

@media(max-width:576px){
    .table.dataTable>tbody>tr.child span.dtr-title {
        font-size: small;
    }

    .table.dataTable>tbody>tr.child span.dtr-data {
        font-size: small;
    }

    .sen-h{
        font-size: medium;
    }
    .sen-d{
        font-size: small;
    }
}