{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <script>
        $(function () {
            $('input[name="datetimes"]').daterangepicker({
            showDropdowns: false,
            timePicker: true,
            timePicker24Hour: true,
            startDate: moment().subtract(1, 'days'),
            endDate: moment(),
            maxDate: moment(),
            showTimezone: true,
            locale: {
            format: 'Y MMM DD H:mm'
            }
            });
        })

    </script>

    <div class="container mt-5 pt-2">
        <div class="row text-center justify-content-center mb-3">                
            <form method="POST" id="graphForm" action="{% url 'export' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-2 mb-2">             
                            <select class="form-control text-center" name="node" id="node" style="height: 40px;">
                                {% for node in nodes %}
                                <option value="{{ node }}">Node - {{ node }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-lg-4 mb-2">                            
                            <input type="text" name="datetimes" id="datetimes" class="form-control text-center" style="height: 40px;padding:1px;margin: 2px;border: 1px solid #2f0c3e;" ; />
                        </div>    

                        <div class="col-lg-1">
                            <button type="submit" class="btn" style="background-color: #2f0c3e;color: #ffffff; height: 40px;">Export</button>
                        </div>
                    </div>
                </div>
            </form>         
            
            <table border="1" class="table table-hover rounded table-bordered mt-4">
                <thead>
                    <tr>
                        <th>FileName</th>
                        <th>Downloaded Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in f_detail %}
                    <tr>
                        <td>{{ item.file_name }}</td>
                        <td>{{ item.date_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>