{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GateWay</title>     
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<body class="bd">

    <script>
        $(function () {
      setTimeout(function() {
        window.location.href = "/chemical/login_auth/?next=/chemical/";
    }, 15*60*1000);
})

        $(function () {
        $('input[name="datetimes"]').daterangepicker({
        showDropdowns: false,
        timePicker: true,
        timePicker24Hour: true,
        startDate: moment().subtract(1, 'days'),
        endDate: moment(),
        maxDate: moment(),
        showTimezone: true,
        locale: {
        format: 'Y MMM DD H:mm'
        }
        });
    })

    $(document).ready(function() {
        $('#graphForm').on('submit', function(event) {
            event.preventDefault();
            var form_data = $(this).serialize();

            $.ajax({
                url: '/chemical/graph/',
                method: 'POST',
                data: form_data,
                success: function(response) {
                    $('#graphContainer').html(response.fig);
                    $('#graphContainera').html(response.acc);                    
                    $('#map').html(response.map);                   
                }
            });
        });
    });

    </script>


    <section class="sec-head">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">
                <img src="{% static 'img/IITM_Logo.png' %}" alt="Logo">HYDROSTATIC MEASUREMENT
            </p>
        </div>
    </section>

    <section class="n-l">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <i onclick="Export()" class="fa fa-download" style="color: #07255b;cursor: pointer;" data-toggle="tooltip"
                        data-placement="top" title="Export"></i>
                    &nbsp;&nbsp;&nbsp;
                    
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" style="color: #07255b;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    
    <section class="sec2 mt-lg-3 pt-3 pb-5 mb-5">
        <div class="container-fluid">
            <div class="container">
                <div class="row text-center justify-content-center mb-3">                
                    <form method="POST" id="graphForm" action="{% url 'graph' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row text-center justify-content-center">
                                <div class="col-lg-2 mb-2">             
                                    <select class="form-control text-center" name="node" id="node" style="height: 40px;">
                                        {% for node in nodes %}
                                        <option value="{{ node }}">Node - {{ node }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-4 mb-2">                            
                                    <input type="text" name="datetimes" id="datetimes" class="form-control text-center" style="height: 40px;padding:1px;margin: 2px;border: 1px solid #2f0c3e;" ; />
                                </div>    

                                <div class="col-lg-1">
                                    <button type="submit" class="btn" style="background-color: #2f0c3e;color: #ffffff; height: 40px;">View</button>
                                </div>
                            </div>
                        </div>
                    </form>                 
                </div>
            </div>

            <!-- <div class="row text-center s_node">
                <p>Selected Node : Node&nbsp;-&nbsp;{{selected_node}}</p>
                <br>
                <p>{{dt}}</p>
            </div> -->
            
            <div class="row mt-4">
                <div class="col-12">          
                    <div id="graphContainer">
                        {% for graph_data in graphs %}        
                            {{ graph_data|safe }}   
                        {% endfor %}
                    </div>         
                </div>
            </div>
        </div>
    </section>

    <script>
        function Export() {
            urls = "{% url 'export' %}"
            mywindow = window.open(urls, "_blank", "toolbar=yes,scrollbar=yes,resizable=yes,top=100,left=100,width=1000px,height=600px");
            }
        // document.getElementById('downloadIcon').addEventListener('click', function() {
        //     // Open a new window with export options
        //     window.open('export/', '_blank');
        // });
    </script>
    
    {% include 'footer.html' %}    
</body>
</html>

