{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GateWay</title>     
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<body class="bd">
    <style>
        body {
            background-color: #fff;
            transition: background-color 0.3s ease;
        }
        .blink {
            animation: blinker 1.0s linear infinite;
        }
        @keyframes blinker {
        50% {
                background-color: rgba(255, 0, 0, 0.712);
            }
        }

        .red-text {
        color: red;
        }

        .green-text {
        color: green;
        }

    </style>

    <script>
        function autoRefreshPage() {
            setTimeout(function() {
                location.reload();
            }, 120000); // Refresh every 3 minutes (180 seconds)
        }

        // Initiate the auto-refresh function
        autoRefreshPage();

        $(function () {
        setTimeout(function() {
            window.location.href = "/gaslevel/login_auth/?next=/gaslevel/";
        }, 15*60*1000);
    
        $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
                "pageLength": 10,        
            });
        });

        $(function () {
        $('input[name="datetimes"]').daterangepicker({
        showDropdowns: false,
        timePicker: true,
        timePicker24Hour: true,
        startDate: moment().subtract(1, 'days'),
        endDate: moment(),
        showTimezone: true,
        locale: {
        format: 'Y MMM DD H:mm'
        }
        }
        );
      }
        )
    </script>

    <input type="text" id="inputNumber" value="{{latest}}" style="display: none;" onkeyup="checkInput(event)" />

    <section class="sec-head">
        <div class="container text-center my-auto mt-3 mb-3 font-weight-bold">
            <p class="p-head">
                GASLEVEL MONITORING
            </p>
        </div>
    </section>

    <section class="n-l">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                        </ol>
                    </nav>
                </div>
    
                <div class="col-auto">
                    <a href="{% url 'logout1' %}">
                        <i class="fa fa-sign-out" style="color: #07255b;cursor: pointer;" data-toggle="tooltip"
                            data-placement="top" title="LogOut"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-lg-5 p-5">
        <div class="container">
            <div class="row text-center sen-h bg-light">
                <div class="col-md-4 mb-2">
                    <strong>Gateway ID:</strong> Gateway-1                
                </div>
                <div class="col-md-4 mb-2">                        
                    <strong>Last Update:</strong> <span id="timeAgoCell">{{ gas_ts }}</span>
                </div>
                <div class="col-md-4">
                    <strong>Gas Level:</strong> <span id="gasLevel">{{ gas_l }}</span>
                </div>
            </div>
        </div>
    </section>    

    
    <section class="sec2 mt-lg-3 pt-3 pb-5 mb-5">
        <div class="container-fluid">
            <div class="container">
                <div class="row text-center justify-content-center mb-3">                
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row text-center justify-content-center">                                
                                <div class="col-lg-4 mb-2">                            
                                    <input type="text" name="datetimes" id="datetimes" class="form-control text-center" style="height: 40px;padding:1px;margin: 2px;border: 1px solid #2f0c3e;" ; />
                                </div>    

                                <div class="col-lg-1">
                                    <button type="submit" class="btn" style="background-color: #2f0c3e;color: #ffffff; height: 40px;">View</button>
                                </div>
                            </div>
                        </div>
                    </form>                 
                </div>
            </div>

            <div class="row text-center">            
                <div class="sen-d">{{dt}}</div>
            </div>
            
            <div class="row mt-4 p-md-5">
                <div class="col-12">                    
                    {{ plot_html|safe }}                        
                </div>
            </div>
        </div>
    </section>

    <script>
        window.onload = function() {
            checkInput();
        };
        function checkInput(event) {
            var inputValue = document.getElementById('inputNumber').value;
            if (inputValue.trim() === '0') {
                document.body.classList.remove('blink'); 
            } else if (inputValue.trim() === '1') {  
                document.body.classList.add('blink');
            }
        }

        function updateGatewayTextColor() {
        var cells = document.querySelectorAll('#timeAgoCell');

        cells.forEach(function (cell) {
            // Extract the text content and parse it to get the time unit and value
            var text = cell.textContent.trim(); // Remove leading/trailing spaces
            var parts = text.split(' '); // Split the text by spaces
            var value = parseInt(parts[0]); // Parse the numeric value
            var unit = parts[1]; // Get the time unit (e.g., "minutes", "hours", "days", etc.)
            if (text === 'just now' || unit === 'seconds' || unit === 'minute') {
            cell.classList.add('green-text');
            } else {
            // Check the time unit and set the text color class accordingly
            if (unit === 'minutes' && !isNaN(value) && value <= 10) {
                cell.classList.add('green-text');
            } else {
                cell.classList.add('red-text');
            }
            }
        });
        }

    // Call the function to update cell text color when the DOM is ready
    document.addEventListener('DOMContentLoaded', updateGatewayTextColor);

    function updateGasLevelTextColor() {
        var cells = document.querySelectorAll('#gasLevel');

        cells.forEach(function (cell) {
            // Extract the text content and parse it to get the time unit and value
            var text = cell.textContent.trim(); // Remove leading/trailing spaces
    
            if (text >= 500) {
                cell.classList.add('red-text');
            } else {
                cell.classList.add('green-text');
            }
            })
    }

    // Call the function to update cell text color when the DOM is ready
    document.addEventListener('DOMContentLoaded', updateGasLevelTextColor);

    </script>
    
    
    {% include 'footer.html' %}    
</body>
</html>

<!-- {% for graph_data in graphs %}                         -->
<!-- {{ graph_html|safe }}                         -->
<!-- {% endfor %}                                        -->